.object {
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: #ff5a5f;
    border-radius: 50%;
    animation: magnetize 2s infinite;
}

@keyframes magnetize {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
